<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Found <%= results.to %> categories:</h3>
        </div>
		<% if(results && results.total) { %>
			<br />
			<table style='text-align:center;' class="table table-hover">
				<thead>
		        <tr>
              <th>Pic</th>
		          <th>Model Number</th>
		          <th>Manufacturer</th>
		          <th>Current Price</th>

		        </tr>
      	</thead>
      	<tbody>
					<% for(var i = 0; i < results.to; i++) { %>
						<% var result = results.categories[i]; %>
						<tr <tr class='clickable-row'>
              <td><%= result.name %></strong></td>
              <% for(var z = 0; z < results.categories[i].subCategories.length; z++) { %>
                <% var result = results.categories[i].subCategories[z]; %>
							<td><%= result.name %></td><% } %>
						</tr>

					<% } %>
				</tbody>
		    </table>


		<% } else { %>
			<br />
			No results returned!
		<% } %>
	  </div>
	</div>
  </div>
