<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/styles.css" rel="stylesheet">
	<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/searchForm.js"></script>

	<title>Searchasaurus</title>
</head>

<body>
	<br>
	<div id="contentWrapper" class="container">
		<div id="form" class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title">Model Search</h3>
					</div>

					<div class="panel-body">
						<form id="form" class="form-horizontal ng-pristine ng-valid" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label">Search</label>
								<div class="col-sm-7">
									<input type="searchModel" class="col-sm-7 form-control" id="searchModel" placeholder="">
								</div>
							</div>
						</form>

						<div class="col-sm-offset-3 col-sm-7">
							<button id="submitButton" class="btn btn-success pull-right">Blastoff</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="results"></div>
	</div>
</body>
