<html>
 <% include header.ejs %>
<body>
	<br>
	<div id="contentWrapper" class="container">
		<div id="form" class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title">Model Search</h3>
					</div>

					<div class="panel-body">
						<form id="form" class="form-horizontal ng-pristine ng-valid" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label">Search</label>
								<div class="col-sm-7">
									<input type="searchTerm" class="col-sm-7 form-control" id="searchTerm" placeholder="">
								</div>
							</div>
						</form>

						<div class="col-sm-offset-3 col-sm-7">
							<button id="submitButton" class="btn btn-success pull-right">Blastoff</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="results"></div>
	</div>
</body>
